[flake8]
max-line-length = 88
max-complexity = 18
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *migrations*,
    deployment,
    __init__.py,
    */settings/*
ignore =
    # https://www.flake8rules.com/rules/E266.html
    E266,
    # https://www.flake8rules.com/rules/F403.html
    F403,
    # https://www.flake8rules.com/rules/W503.html
    W503,
