syntax: glob

.DS_Store
.AppleDouble
*.pyc
**/.env
**/.venv
**/.mypy_cache/

docker-compose.override.yml

__pycache__
.mypy_cache

*/settings/local.py

*/staticfiles/
*/uploads/

.log
node_modules
static_build
.idea

nsbrc_website/static/css/main.css
nsbrc_website/static/js/main.js
nsbrc_website/static/css/calendar.css
nsbrc_website/static/js/calendar.js
nsbrc_website/static/js/swipers.js
nsbrc_website/static/css/swipers.css
